django>=4.2
pymongo>=4.0
python-dotenv>=0.20
cryptography>=38.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.2
python-jose>=3.3
bcrypt>=4.0
# python -c "import secrets; print(secrets.token_urlsafe(32))" jwt secret key
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())" secret key
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
